input.ng-invalid.ng-touched {
  border: red 1px solid;
}

.modal.show {
  display: block;
  background-color: darkgrey;
}

.modal-dialog {
  width: fit-content;
  display: block;
  position: absolute;
  background-color: blueviolet;
  color: cornflowerblue;
  bottom: 250px;
  left: 220px;
}
